<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.13.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	<!-- 加载Properties文件 -->
	<context:property-placeholder location="classpath:*.properties"
		ignore-unresolvable="true" />

	<!-- 配置扫描包 -->
	<context:component-scan base-package="com.java.*,org.redis.*" />

	<!-- 配置集群 -->
	<bean id="redisClusterConfiguration"
		class="org.springframework.data.redis.connection.RedisClusterConfiguration">
		<property name="maxRedirects" value="3"></property>
		<!-- 节点 配置 -->
		<property name="clusterNodes">
			<set>
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="192.168.1.149" />
					<constructor-arg name="port" value="7001" />
				</bean>

				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="192.168.1.149" />
					<constructor-arg name="port" value="7002" />
				</bean>

				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="192.168.1.149" />
					<constructor-arg name="port" value="7003" />
				</bean>

				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="192.168.1.149" />
					<constructor-arg name="port" value="7004" />
				</bean>

				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="192.168.1.149" />
					<constructor-arg name="port" value="7005" />
				</bean>

				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="192.168.1.149" />
					<constructor-arg name="port" value="7006" />
				</bean>


			</set>
		</property>
	</bean>
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="20" />
		<property name="maxTotal" value="100" />
		<property name="maxWaitMillis" value="6000" />
		<property name="testOnBorrow" value="true" />
	</bean>
	<!--<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"> 
		<property name="maxIdle" value="${redis.maxIdle}" /> <property name="maxTotal" 
		value="${redis.maxActive}" /> <property name="maxWaitMillis" value="${redis.maxWait}" 
		/> <property name="testOnBorrow" value="${redis.testOnBorrow}" /> </bean> -->

	
	<!-- 配置redis连接 -->
	<bean id="jeidsConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<constructor-arg ref="redisClusterConfiguration" />
		<constructor-arg ref="jedisPoolConfig" />
	</bean>

	<!-- redis Template -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jeidsConnectionFactory"></property>
		<property name="keySerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
		<property name="valueSerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
		<property name="hashKeySerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
		<property name="hashValueSerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
	</bean>







</beans>